.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 10rem;
    flex-direction: column;
    gap: 1rem;
    background: #424242;
    color: #fff;

    .divider {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}