.skills {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    flex-direction: column;
    gap: 1rem;
    color: #414141;
    height: 100vh;

    .divider {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .cards-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .cards-container {
            display: flex;
            height: 400px;
            justify-content: center;
            gap: 2rem;

            input {
                display: none;

                &:checked+.card-label {
                    width: 700px;

                    &::after {
                        position: absolute;
                        content: '';
                        bottom: 0;
                        top: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.65);
                        z-index: 1;
                    }

                    .card-items {
                        opacity: 1;
                        transform: translateY(0);
                        z-index: 2;
                    }

                    .row {
                        // position: relative;
                        z-index: 2;

                        .icon {
                            background: #fff;
                            color: #414141;
                            font-weight: bold;
                        }

                        .description {
                            opacity: 1 !important;
                            transform: translateY(0) !important;
                        }
                    }
                }
            }

            .card-label {
                width: 120px;
                border-radius: 2rem;
                background-size: cover;
                cursor: pointer;
                overflow: hidden;
                display: flex;
                box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
                transition: 0.6s ease;
                position: relative;
                flex-direction: column;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: transparent;
                    z-index: 1;
                    transition: background-color 0.4s ease;
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    .card-items {
                        gap: 6rem;
                        row-gap: 4rem;
                    }
                }

                .card-items {
                    opacity: 0;
                    padding: 3rem 4rem;
                    transform: translateY(-30px);
                    color: black;
                    transition: all 0.4s ease 0.4s;
                    display: flex;
                    gap: 4rem;
                    flex-wrap: wrap;
                    justify-content: center;

                    .card-item {
                        color: white;
                        font-weight: bold;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }

                .row {
                    display: flex;
                    flex-wrap: nowrap;
                    // align-self: flex-end;
                    position: absolute;
                    bottom: 0;
                    left: 20px;

                    .icon {
                        background: #414141;
                        color: #fff;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 15px;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // overflow: hidden;
                        height: 80px;
                        width: 200px;
                        opacity: 0;
                        text-transform: uppercase;
                        color: white;
                        transform: translateY(30px);
                        transition: all 0.4s ease;
                        font-size: 1.3rem;
                        margin-left: 0.5rem;
                        letter-spacing: 1px;

                        h4 {
                            font-weight: 700;
                        }
                    }
                }

                &:nth-of-type(1) {
                    background-image: url(../../images/frontend.png);
                    background-size: 300px 300px;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:nth-of-type(2) {
                    background-image: url(../../images/backend.png);
                    background-size: 300px 300px;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:nth-of-type(3) {
                    background-image: url(../../images/tools.png);
                    background-size: 300px 300px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .skills {
        height: auto;
        padding-bottom: 4rem;

        .title {
            font-size: 40px;
        }

        .divider {

            .divider-line-d:nth-child(1),
            .triangle-down-d {
                display: none;
            }

            width: 100px;
        }

        .cards-wrapper {

            .cards-container {
                flex-direction: column;
                height: auto;

                input {
                    &:checked+.card-label {
                        width: 300px;
                        height: 400px;
                        gap: 0;


                        .card-item {
                            overflow: scroll;

                            img {
                                width: 3rem !important;
                                height: 3rem !important;
                            }

                            p {
                                font-size: 12px;
                            }
                        }

                        .row {
                            .description {
                                transform: translateY(0);
                                opacity: 1;
                                color: #fff;
                            }
                        }
                    }

                }

                .card-label {
                    width: 300px;
                    height: 300px;

                    .card-items {
                        overflow: scroll;
                        row-gap: 1.5rem;
                        column-gap: 2rem;
                        padding: 2rem;
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        .card-items {
                            row-gap: 1.5rem !important;
                            column-gap: 3.5rem !important;
                        }
                    }

                    .row {
                        .description {
                            transform: translateY(0);
                            opacity: 1;
                            color: #414141;
                        }
                    }

                    &:nth-of-type(1) {
                        background-size: 200px 200px;
                    }

                    &:nth-of-type(2) {
                        background-size: 200px 200px;
                    }

                    &:nth-of-type(3) {
                        background-size: 200px 200px;
                    }
                }
            }
        }
    }
}