.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    position: absolute;
    bottom: 20px;

    .copyright {
        color: #7e7e7e;
    }

    .back-to-top {
        display: flex;
        gap: 1rem;
        cursor: pointer;

        i {
            color: #56606e;
            align-self: center;
        }
    }

}

@media screen and (max-width: 1100px) {
    .footer {
        padding: 0 2rem;

        .copyright,
        .back-to-top {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 0 1rem;

        .copyright,
        .back-to-top {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 700px) {
    .footer {
        padding: 0 1rem;

        .copyright {
            width: 120px;
        }
    }
}

@media screen and (max-width: 650px) {
    .footer {
        position: relative;
        padding: 0 2rem;
        margin-top: 4rem;

        .copyright {
            width: auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        .copyright {
            font-size: 12px;
            width: 100px;
        }
    }
}