@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;700;800&family=Alatsi&family=Poppins:wght@400;500;700;800&display=swap');

$dark: #414141;
$bright: #DFDFDF;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.App {
  background: #E1E1E1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 2000px;
  margin: 0 auto;
  // overflow-x: hidden;

  section {
    scroll-snap-align: start;
  }
}

::-webkit-scrollbar {
  display: none;
}

.divider-line-d {
  width: 15rem;
  height: 0;
  border: $dark solid 1px;
  border-radius: 20px;
}

.divider-line-b {
  width: 15rem;
  height: 0;
  border: $bright solid 1px;
  border-radius: 20px;
}

.triangle-down-d {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid $dark;
}

.triangle-down-b {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid $bright;
}

.title {
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Abhaya Libre', serif;
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1225px) {
  .App {
    overflow-x: auto;
  }
}